* {
	box-sizing: border-box;
}

body {
	color: #fff;
	width: 100vw;
	height: 100vh;
	background: #123;
	margin:0;
	font-family: sans-serif;
	border-top: solid 6px #006a50;
}

header {
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: sans-serif;
	background: #234;
}

h1 {
	display: inline-block;
	margin: 0;
}

#regal {
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute;
	left: 0;
}

#info-toggle {
	display: inline-block;
	width: 60px;
	height: 60px;
	position: absolute; 
	right: 0;
}

#info-toggle:hover { background: #345; }

#info {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	background: #567;
}

#info header {
	font-size: large;
	background: #456;
}

#info button {
	width: 60px;
	height: 60px;
	border: none;
	color: white;
	background: #456;
}

#info button:hover { background: #567; }

#info-close {
	position: absolute;
	right: 0;
}

#map {
	box-sizing: content-box;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	border: solid 1px black;
}

.cell {
	display: inline-block;
	background: #345;
	margin: 0;
}

.cell:hover { background: #456; }

.bordered { border: solid 1px black; }

.info-option-controls { text-align: center; }
